$primary-bg-color: #f2eded;
$secondary-bg-color: #2d454d;
$tertiary-bg-color: #8c8c9c;
$white-bg-color: #ffffff;

$primary-highlight-color: #c26059;
$secondary-highlight-color: #ede9c2;
$tertiary-highlight-color: #e89f7f;

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$tertiary-text-color: $secondary-highlight-color;

$error-color: #ed766e;

$border-color: hsl(0, 0, 85);