/* Global */

* {
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    font-weight: 300;
    font-size: 13px;
}

a {
    color: #ede9c2;
    cursor: pointer;
}

.dark :focus,
.toolbar :focus {
    outline-color: #ede9c2;
}

:focus {
    outline-color: #2d454d;
}

.ng-hide {
    display: none !important;
}

/* Page */

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2eded;
}

.page.dark {
    background-color: #2d454d;
    color: #f2eded;
}

/* Forms */

form {
    padding: 0 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.helper-text {
    font-size: 12px;
    color: #999999;
    margin-bottom: 2px;
}

.dark .helper-text {
    color: #CFCFDB;
}

.form-group label {
    flex-grow: 1;
    font-size: 16px;
}

.form-group.divider {
    border-bottom: 1px solid #d3d3d3;
}

/* Buttons */

.button,
.primary-button {
    border-radius: 0;
    border: none;
    padding: 8px 8px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: relative;
    display: block;
    text-decoration: none;
    margin-left: 16px;
    font-size: 14px;
    min-width: 88px;
    height: 36px;
    font-family: "Roboto";
}

.dark .button,
.dark .primary-button {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.button:first-child, .primary-button:first-child,
.no-margin {
    margin-left: 0;
}

.button:disabled,
.primary-button:disabled {
    cursor: default;
    box-shadow: none;
}

.button:enabled {
    color: #ffffff;
    background-color: #435D66;
}

.button:disabled {
    color: rgba(255, 255, 255, 0.26);
    background-color: rgba(67, 93, 102, 0.12);
}

.button:enabled:hover {
    background-color: #62848d;
}

.primary-button:enabled {
    color: #ffffff;
    background-color: #c26059;
}

.primary-button:disabled {
    color: rgba(255, 255, 255, 0.26);
    background-color: rgba(194, 96, 89, 0.12);
}

.primary-button:enabled:hover {
    background-color: #EA8982;
}

/* Input */

input,
select {
    border: none;
    background-color: transparent;
    font-size: 16px;
    flex-grow: 1;
    padding: 8px 0 8px 0;
    margin: 0 0 2px 0;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    flex-grow: 0;
    color: #666;
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: 26px;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    border-bottom: none;
    margin: 0;
}

input[type="checkbox"]:checked {
    color: #e89f7f;
}

input[type="checkbox"]:before {
    visibility: visible;
    content: "\f2e2";
}

input[type="checkbox"]:checked:before {
    content: "\f2e1";
}

.form-group input,
.form-group select {
    border-bottom: 1px solid #cccccc;
}

.form-group input[type="checkbox"] {
    border-bottom: none;
}

.form-group input:last-child,
.form-group select:last-child {
    margin-bottom: 20px;
}

.form-group input[type="checkbox"]:last-child {
    margin-bottom: 16px;
}

input.ng-dirty.ng-invalid.ng-touched,
form.ng-submitted input.ng-invalid {
    border-color: #ed766e;
    border-width: 2px;
    padding-bottom: 7px;
}

input.ng-dirty.ng-invalid.ng-touched + .helper-text,
form.ng-submitted input.ng-invalid + .helper-text {
    color: #ed766e;
}

.form-group input:focus {
    border-color: #2d454d;
    border-width: 2px;
    padding-bottom: 7px;
}

.form-group input[type="checkbox"]:focus {
    padding: 0;
    outline: #2d454d auto 5px;
}

.dark .form-group input:focus {
    border-color: #ede9c2;
}

.dark .form-group input {
    color: #fff;
    border-color: #8c8c9c;
}

::-webkit-input-placeholder {
    color: #cccccc;
}

.dark ::-webkit-input-placeholder {
    color: #8c8c9c;
}

/* Toolbar */

.toolbar {
    background-color: #2d454d;
    color: #ede9c2;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 20px;
    flex-shrink: 0;
}

.toolbar a {
    color: inherit;
    text-decoration: none;
}

.toolbar a:first-child {
    margin-right: 16px;
}

.toolbar .title {
    flex-grow: 1;
}

/* Spinner */

.spinner {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

.spinner .fa {
    width: 32px;
    font-size: 32px;
}

/* List */

.list {
    flex-grow: 1;
    overflow-y: scroll;
}

.list-item {
    height: 72px;
    background: #ffffff;
    border-bottom: 1px solid #D3D3D3;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.list-title {
    font-size: 16px;
    padding-left: 8px;
    font-weight: 400;
    color: #000000;
}

.list-caption {
    color: #888888;
    overflow: hidden;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Registration */

.registration-page {
    padding: 1em;
    text-align: center;
}

.registration-page h1 {
    text-transform: uppercase;
    font-size: 500%;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-weight: 500;
    margin: 0;
    color: #ede9c2;
}

.registration-page p {
    font-size: 150%;
    margin: 0;
    font-style: italic;
}

.registration-page .or {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-transform: uppercase;
    color: #ede9c2;
}

.registration-page .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ede9c2;
    margin: 1em;
}

.registration-page .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.registration-page section {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.registration-page .primary-button {
    width: 80%;
}

.registration-page .primary-button:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: #c26059;
    border-width: 10px;
    margin-left: -10px;
}

.registration-page .primary-button:hover:after {
    border-bottom-color: #EA8982;
}

.registration-page .primary-button:disabled:after {
    border-bottom-color: rgba(194, 96, 89, 0.12);
}

/* Search */

.search-form {
    font-size: 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #D3D3D3;
}

.search-form input {
    padding: 15px 8px;
    margin: 0;
}

.search-form .fa {
    color: #A6A6A6;
}

/* Contact */

.contact-picture {
    background: #B3B3B3;
    min-width: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 34px;
    text-align: center;
    align-self: center;
    transition: background-color 0.5s;
    text-transform: uppercase;
}

.contact-unread .list-title,
.contact-unread .list-caption {
    font-weight: 600;
}

/* Conversation */

.message-list {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 8px;
}

.send-message-form {
    border-top: 1px solid #B8B8B8;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #ffffff;
    flex-shrink: 0;
}

.send-message-button {
    cursor: pointer;
    color: #D5D5D5;
    font-size: 24px;
    text-align: center;
    padding-left: 0.5em;
}

.message-item {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5em;
    flex-shrink: 0;
}

.message-item-inner {
    background: #fff;
    padding: 0.5em;
    max-width: 80%;
    word-wrap: break-word;
    border-top: 1px solid rgb(100, 191, 63);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;
}

.self-message .message-item-inner {
    border-color: #186FA5;
}

.message-item.self-message {
    justify-content: flex-end;
}

.message-identity {
    background: rgb(95, 95, 95);
    font-size: 20px;
    min-width: 30px;
    text-align: center;
    color: #fff;
    height: 30px;
}

.message-info {
    color: #C0C0C0;
    margin-top: 0.2em;
    font-size: 11px;
}

.message-body {
    font-size: 14px;
}

/* Flexbox utils */

.row {
    display: flex;
    flex-direction: row;
}
