* {
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    font-weight: 300;
}

.add-contact-message {
    height: 50px;
    border-top-color: #C7C7C7;
    background: #FFF;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 20px;
    align-items: center;
    display: flex;
    font-weight: 400;
    justify-content: center;
    cursor: pointer;
}

.add-contact-value {
    height: 40px;    background: #FFF;      
    font-size: 24px;  align-items: center;  display: flex;  justify-content: center;
    cursor: pointer;
}
.contact-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contact-picture {
    background: #B3B3B3;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    font-size: 34px;
    text-align: center;
    transition: background-color 0.5s;
    text-transform: uppercase;
}

.contact-list {
    flex: 1;
    background: #E0E0E0;
    overflow-y: scroll;
}

.contact-item {
    cursor: pointer;
    height: 70px;
    background: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-color: #D3D3D3;
    border-top-width: 1px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.contact-value {
    font-size: 16px;
    flex-grow: 1;
    padding-left: 8px;
}

.add-contact-form {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.add-contact-button {
    cursor: pointer;
    min-width: 40px;
    background: #D06767;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.context-input {
    background: none;
    color: #000;
    font-size: 16px;
    padding-left: 1em;
    border: none;
    outline: none;
    flex: 1;
    padding: 0.6em;
}

.conversation-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.message-list {
    flex: 1;
    background: #E4E4E4;
    overflow-y: scroll;
    padding: 0.1em;
}

.send-message-form {
    border-top-color: #B8B8B8;
    border-top-style: solid;
    border-top-width: 1px;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.send-message-button {
    cursor: pointer;
    color: #D5D5D5;
    font-size: 24px;
    text-align: center;
    padding-left: 0.5em;
}

.send-message-input {
    background: none;
    color: #000;
    font-size: 16px;
    padding-left: 0.5em;
    padding-top: 0.5em;
    border: none;
    padding-bottom: 0.5em;
    outline: none;
    flex: 1;
}

.ng-hide {
    display: none;
}

.message-item {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.message-item-inner {
    background: #fff;
    padding: 0.5em;
    max-width: 80%;
    word-wrap: break-word;
    border-top: 1px solid rgb(100, 191, 63);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;
}

.self-message .message-item-inner {
    border-color: #186FA5;
}

.message-item.self-message {
    justify-content: flex-end;
}

.message-identity {
    background: rgb(95, 95, 95);
    font-size: 20px;
    min-width: 30px;
    text-align: center;
    color: #fff;
    height: 30px;
}

.toolbar {
    background: #242424;
    display: flex;
    align-items: stretch;
}

.toolbar-button {
    cursor: pointer;
    min-width: 36px;
    max-width: 36px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.toolbar-text {
    padding: 0.5em;
    color: #fff;
    font-size: 16px;
    flex-grow: 1;
    min-height: 37px;
}

.toolbar-options {
    cursor: pointer;
    min-width: 34px;
    max-width: 34px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.message-info {
    color: #C0C0C0;
    margin-top: 0.2em;
    font-size: 11px;
}

.message-body {
    font-size: 14px;
}

.default-query {
    color: #ccc;
}

.contact-last-message {
    color: #000000;
    overflow: hidden;
    height: 18px;
    padding-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}


.add-conversation-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #E4E4E4;
}

.add-contact-input {
    background: #fff;
    color: #000;
    font-size: 16px;
    padding-left: 1em;
    border: none;
    width: 80%;
    margin-top: 30px;
    border-bottom-style: solid;
    border-bottom-color: #C3C3C3;
    border-bottom-width: 1px;
    outline: none;
    padding: 0.7em;
}

.contact-input-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}


.contact-input-area .contact-picture {
    margin-top: 40px;
}

.button-footer {
    background-color: #242424;
    display: flex;
}

.button-footer button {
    background: none;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 0.5em;
    flex-grow: 1;
}

.button-footer .divider {
    width: 1px;
    background-color: #fff;
    margin: 6px 0;
}

.button-footer .fa {
    font-size: 24px;
}

.input-error {
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.5);
}

.option-item {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #e2e2e2;
    margin: 0.5em;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #861139;
}

.delete-option {
    margin-left: 10px;
}

.app-option-item {
    font-size: 16px;
    /* padding: 0.5em; */
    border: 1px solid #3C3C3C;
    margin: 0.5em;
    /* flex: 1; */
    display: flex;
    /*justify-content: center;*/
}

.option-label {
    flex: 2;
    padding: 0.5em; */;
}

.option-state {
    flex: 2;
    text-align: center;
    background-color: #4DB3C0;
    color: white;
    padding: 0.5em; */;
    height: 100%;
}

.option-icon {
    text-align: center;
    flex: 0.5;
    padding: 0.5em; */;
}

.option-disabled {
    background-color: #BD3463;
    color: white;
}

.option-enabled {
    background-color: #BD3463;
}

.contact-option-label {
    font-size: 16px;
    padding: 0.5em;
    margin: 0.5em;
    flex: 1;
    text-align: right;
}

.contact-option-value {
    font-size: 16px;
    padding: 0.5em;
    border-left-style: solid;
    border-left-color: #BABABA;
    border-left-width: 1px;
    margin: 0.5em;
    flex: 2;
    justify-content: center;      
    background-color: #FFFFFF;
}

.option-form-item {
    display: flex;

}

.register-button {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #e2e2e2;
    margin: 0.5em;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #1fa67a;
}

.contact-unread {
    font-weight: 600;
}

.contact-unread .contact-last-message {
    color: #333;
    font-weight: 400;
}
