.contact-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contact-picture {
    background: #81C7E5;
    min-width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    font-size: 34px;
    text-align: center;
}

.contact-list {
    flex: 1;
    background: #E4E4E4;
    overflow-y: scroll;
}

.contact-item {
    cursor: pointer;
    height: 70px;
    background: white;
    border-top-style: solid;
    border-top-color: #D3D3D3;
    border-top-width: 1px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.contact-value {
    font-size: 16px;
    flex-grow: 1;
    padding-left: 0.5em;
}


.add-contact-form {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.add-contact-button {
    cursor: pointer;
    min-width: 40px;
    background: #D06767;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.add-contact-input {
    background: none;
    color: #000;
    font-size: 16px;
    padding-left: 1em;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    flex: 1;
    padding: 0.5em;      
}

.conversation-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.message-list {
    flex: 1;
    background: #E4E4E4;
    overflow-y: scroll;
    padding: 0.1em;
}

.send-message-form {
border-top-color: #B8B8B8;
border-top-style: solid;
border-top-width: 1px;
flex-direction: row;
display: flex;
align-items: stretch;
justify-content: center;
}

.send-message-button {
cursor: pointer;
color: #D5D5D5;
font-size: 24px;
text-align: center;
padding-left: 0.5em;
}

.send-message-input {
background: none;
color: #000;
font-size: 16px;
padding-left: 0.5em;
padding-top: 0.5em;
border: none;
padding-bottom: 0.5em;
outline: none;
font-family: 'Segoe UI', Tahoma, sans-serif;
flex: 1;
}

.ng-hide {
    display: none;
}

.message-item {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5em;
}

.message-item-inner {
background: #fff;
padding: 0.5em;
max-width: 80%;
word-wrap: break-word;
border-top: 1px solid rgb(100, 191, 63);
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
}

.self-message .message-item-inner{
    border-color: #186FA5;
}

.message-item.self-message {
    justify-content: flex-end;
}

.message-identity {
background: rgb(100, 191, 63);
font-size: 20px;
min-width: 30px;
text-align: center;
color: #fff;
height: 30px;
}

.toolbar {
    background: #242424;
    display: flex;
    align-items: stretch;
}

.toolbar-button {
cursor: pointer;
min-width: 36px;
max-width: 36px;
font-size: 24px;
text-align: center;
color: #ffffff;
}

.toolbar-text {
    padding: 0.5em;
    color: #fff;
    font-size: 16px;
    flex-grow: 1;
    min-height: 21px;
}

.toolbar-options {
cursor: pointer;
min-width: 34px;
max-width: 34px;
font-size: 24px;
text-align: center;
color: #ffffff;
}

.message-time {
    color: #C0C0C0;
    margin-top: 0.2em;
    font-size: 11px;
}

.message-body {
    font-size: 14px;
}

.default-query {
    color: #ccc;
}

.contact-last-message {
    color: #bbb;
    overflow: hidden;
    height: 18px;
    padding-left: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
