<div class="toolbar">
    <a href="#/contacts" class="md md-arrow-back"></a>
    <div class="title">Options</div>
</div>
<form class="options-window" ng-init="loadConfig()">
    <div class="form-group row divider">
        <label for="notifications">Notifications</label>
        <input id="notifications" type="checkbox" ng-model="notificationsEnabled" />
    </div>
    <div class="form-group row divider">
        <label for="flashingAttention">Flashing Icon</label>
        <input id="flashingAttention" type="checkbox" ng-model="flashingAttentionEnabled" />
    </div>
</form>
