<div class="contact-window">
    <div class="add-contact-form">
        <input class="add-contact-input" type="text" ng-enter="addContact()" ng-model="inputNumber">
        <div class="add-contact-button" ng-click="addContact()">+</div>
    </div>

    <div class="contact-list">
        <div class="contact-item" data-ng-repeat="contact in contacts" ng-click="openConversation(contact)">
            <div class="contact-picture"></div>
            <div class="contact-value" >{{ contact.name || contact.number}}</div>
        </div>
    </div>
</div>