<div class="conversation-window">
    <div class="toolbar">
        <div class="toolbar-text">Registration</div>
    </div>
    <div class="options-window">
        <div class="contact-input-area">
            <input id="number-input" class="add-contact-input" placeholder="Number" ng-enter="register()" type="text" ng-model="userNumber">
        </div>
        <div class="register-button" ng-click="register()">
            <i class="fa fa-rocket"></i><div class="delete-option">Register</div>
        </div>
    </div>
</div>
