<!DOCTYPE html>
<html data-ng-app="XolotlApp" ng-csp="">
<head>
<meta charset="utf-8" />
<title>Xolotl</title>
<link rel="stylesheet" media="all" href="css/main.css">
<base target="_blank">
</head>
<body data-ng-controller="ContactsController">

<section id="main">
    <div class="contact-list"data-ng-repeat="contact in contacts">
        <span class="contact-item">
            <div class="contact-name" ng-click="openConversation(contact)" >{{contact.number}} : </div>
            <input class="contact-number" type="text" name="contactName" ng-model="contact.name">
        </span>        
    </div>
    <span class="contact-input-wrapper">
        <input class="contact-input" type="text" ng-enter="addContact()" ng-model="inputNumber">
        <div class="add-contact-button" ng-click="addContact()">+</div>
    </span>
</section>

<script src="bower_components/angularjs/angular.js"></script>
<script src="js/events.js"></script>
<script src="js/app.js"></script>
</body>
</html>
