<!DOCTYPE html>
<html data-ng-app="XolotlContacts" ng-csp="">
<head>
<meta charset="utf-8" />
<title>Xolotl</title>
<link rel="stylesheet" media="all" href="css/main.css">
<base target="_blank">
</head>
<body class="contact-window" data-ng-controller="ContactsController">

<div class="add-contact-form">
    <input class="add-contact-input" type="text" ng-enter="addContact()" ng-model="inputNumber">
    <div class="add-contact-button" ng-click="addContact()">+</div>
</div>

<div class="contact-list">
    <div class="contact-item" data-ng-repeat="contact in contacts" ng-click="openConversation(contact)">
        <div class="contact-picture"></div>
        <div class="contact-value" >{{ contact.name || contact.number}}</div>
    </div>
</div>

<script src="bower_components/angularjs/angular.js"></script>
<script src="js/eventBroadcaster.js"></script>
<script src="js/contacts.js"></script>
</body>
</html>
